body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: absolute;
    line-height: 30px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10px;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 70px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a.active::before{
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 100% ;
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}
header .navbar{

}
.home{
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px;
}
.home .full-screen{
    min-height: 100vh;
}
.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block{
    flex:0 0 75%;
    max-width:75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
}
.home .home-content .block h5{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    padding: 0;
}
.home .home-content .block h3{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
}


.home .container .full-screen .home-content .block .profile_image{

}