body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: absolute;
    line-height: 30px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #423940;
}
header .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 70px;
    color: #ffffff;
    font-weight: 600;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
header .navbar{

}
.home{
    min-height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}